

  Image {
    animation-name: spin; animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    height:35%;
    margin-top: 100px;
    margin-bottom: 100px;
  }



  @keyframes spin {
    from { transform: rotate(0); } to { transform: rotate(360); }
  }

  
